CompileFlags:
  Add: [
    "-I/home/ignaciosantolin/arduino-yun-bridge2/mcubridge-library-arduino/src",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/mcubridge-library-arduino/tests",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/mcubridge-library-arduino/tests/Unity/src",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/.dummy_libs/Unity/src",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/tools/arduino_stub/include",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/.dummy_libs/Embedded_Template_Library/include",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/.dummy_libs/Embedded_Template_Library/arduino",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/.dummy_libs/wolfSSL",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/.dummy_libs/PacketSerial/src",
    "-I/home/ignaciosantolin/Arduino/libraries/Embedded_Template_Library/include",
    "-I/home/ignaciosantolin/Arduino/libraries/Embedded_Template_Library/arduino",
    "-I/home/ignaciosantolin/Arduino/libraries/wolfSSL",
    "-I/home/ignaciosantolin/Arduino/libraries/PacketSerial/src",
    "-DBRIDGE_HOST_TEST=1",
    "-DBRIDGE_ENABLE_TEST_INTERFACE=1",
    "-DBRIDGE_ENABLE_SPI=1",
    "-DBRIDGE_ENABLE_DATASTORE=1",
    "-DBRIDGE_ENABLE_MAILBOX=1",
    "-DBRIDGE_ENABLE_FILESYSTEM=1",
    "-DBRIDGE_ENABLE_PROCESS=1",
    "-DBRIDGE_ENABLE_POST_TESTS=1",
    "-DWOLFSSL_USER_SETTINGS",
    "-DETL_NO_STL",
    "-x", "c++",
    "-std=c++17"
  ]
