CompileFlags:
  Add: [
    "-Imcubridge-library-arduino/src",
    "-Itools/arduino_stub/include",
    "-I.tmp_tests/arduino_libs/Embedded_Template_Library/include",
    "-I.tmp_tests/arduino_libs/Embedded_Template_Library/arduino",
    "-I.tmp_tests/arduino_libs/wolfSSL",
    "-I.tmp_tests/arduino_libs/PacketSerial/src",
    "-I.dummy_libs/Embedded_Template_Library/include",
    "-I.dummy_libs/Embedded_Template_Library/arduino",
    "-I.dummy_libs/wolfSSL",
    "-I.dummy_libs/PacketSerial/src",
    "-DBRIDGE_HOST_TEST=1",
    "-DUNITY_INCLUDE_DOUBLE",
    "-DBRIDGE_ENABLE_SPI=1",
    "-DWOLFSSL_USER_SETTINGS",
    "-DETL_NO_STL",
    "-x", "c++",
    "-std=c++17"
  ]
