CompileFlags:
  Add: [
    "-std=c++17",
    "-x", "c++",
    "-DARDUINO=100",
    "-DARDUINO_STUB_CUSTOM_MILLIS=1",
    "-DARDUINO_STUB_CUSTOM_SERIAL=1",
    "-DNUM_DIGITAL_PINS=20",
    "-DNUM_ANALOG_INPUTS=6",
    "-DPB_PROTO_HEADER_VERSION=40",
    "-DBRIDGE_HOST_TEST=1",
    "-DBRIDGE_ENABLE_TEST_INTERFACE=1",
    "-DBRIDGE_ENABLE_SPI=1",
    "-DBRIDGE_ENABLE_DATASTORE=1",
    "-DBRIDGE_ENABLE_MAILBOX=1",
    "-DBRIDGE_ENABLE_FILESYSTEM=1",
    "-DBRIDGE_ENABLE_PROCESS=1",
    "-DBRIDGE_ENABLE_POST_TESTS=1",
    "-DWOLFSSL_USER_SETTINGS",
    "-DETL_NO_STL",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/mcubridge-library-arduino/src",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/mcubridge-library-arduino/src/config",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/mcubridge-library-arduino/src/protocol",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/tools/arduino_stub/include",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/mcubridge-library-arduino/tests",
    "-I/home/ignaciosantolin/arduino-yun-bridge2/mcubridge-library-arduino/tests/Unity/src",
    "-I/home/ignaciosantolin/Arduino/libraries/Embedded_Template_Library",
    "-I/home/ignaciosantolin/Arduino/libraries/Embedded_Template_Library/include",
    "-I/home/ignaciosantolin/Arduino/libraries/Embedded_Template_Library/arduino",
    "-I/home/ignaciosantolin/Arduino/libraries/wolfssl",
    "-I/home/ignaciosantolin/Arduino/libraries/wolfssl/src",
    "-I/home/ignaciosantolin/Arduino/libraries/PacketSerial",
    "-I/home/ignaciosantolin/Arduino/libraries/PacketSerial/src"
  ]
