[tool.black]
line-length = 88
target-version = ['py313']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[tool.pyright]
include = ["openwrt-yun-bridge/yunbridge", "openwrt-yun-examples-python"]
exclude = ["**/__pycache__", "**/node_modules", "**/.*", ".venv_debug"]
venv = ".venv"
reportMissingImports = true
reportMissingTypeStubs = false
pythonVersion = "3.13"
executionEnvironments = [
  { root = "openwrt-yun-bridge/yunbridge" }
]

[tool.ruff]
target-version = "py313"
